.header_h1_rwd_left {
  width: 118px;
  height: 26px;
  float: left;
  margin-top: 30px;
}
.header_h1_rwd_right {
  float: right;
  width: 290px;
  height: 74px;
  margin-top: 5px;
  margin-right: -50px;
}

.rwd_header {
  height:120px;
}

.header_devider {
  border-color: #eee;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .header_h1_rwd_left {
    float: none;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .header_h1_rwd_right {
    float: none;
    margin: 0 auto;
  }
  .rwd_header {
    height:50px;
  }
}