.pre_header {
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
}


.header_h1_rwd_left {
  img {
    width: 250px;
  }
}
.header_h1_rwd_right {
  float: right;
  width: 290px;
  height: 74px;
  margin-top: 5px;
  margin-right: -50px;
}

@media (max-width: 767px) {
  .header_h1_rwd_left {
    img {
      width: 200px;
      display: block;
      margin: 0 0 0 -20px;
    }
  }
  .header_h1_rwd_right {
    float: none;
    margin: 0 auto;
  }
  .rwd_header {
    height:50px;
  }
}